* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .row .center {
  width: 100% !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .row .center .name {
  text-align-last: justify;
  text-transform: uppercase;
  letter-spacing: 2vh;
  margin-right: -2vh;
}

.main-wrapper .row .center .content .menu {
  width: 100%;
  height: 600px;
  background-color: aqua;
}

.main-wrapper .row .center .content .menu .top {
  padding-top: 20px;
  height: 70%;
  width: 100%;
  background-color: bisque;
}

.main-wrapper .row .center .content .menu .top .menu-nav a {
  text-transform: uppercase;
}

.main-wrapper .row .center .content .menu .bottum {
  height: 30%;
  width: 100%;
  background-color: aqua;
}

.main-wrapper .row .center .content .gallery {
  width: 100%;
  height: 600px;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .row .center .content .gallery .glt1 {
  width: 20%;
  height: 70%;
  background-color: blue;
}

.main-wrapper .row .center .content .gallery .glt1 .glt1-1 {
  width: 100%;
  height: 50%;
  background-color: coral;
}

.main-wrapper .row .center .content .gallery .glt1 .glt1-2 {
  width: 100%;
  height: 50%;
  background-color: darkgoldenrod;
}

.main-wrapper .row .center .content .gallery .glt2 {
  width: 60%;
  height: 70%;
  background-color: blueviolet;
}

.main-wrapper .row .center .content .gallery .glt2 .glt2-1 {
  width: 100%;
  height: 40%;
  background-color: olivedrab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .row .center .content .gallery .glt2 .glt2-1 .glt2-1-1 {
  width: 50%;
  height: 100%;
  background-color: slategrey;
}

.main-wrapper .row .center .content .gallery .glt2 .glt2-1 .glt2-1-2 {
  width: 50%;
  height: 100%;
  background-color: black;
}

.main-wrapper .row .center .content .gallery .glt2 .glt2-2 {
  width: 100%;
  height: 60%;
  background-color: orangered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .row .center .content .gallery .glt2 .glt2-2 .glt2-2-1 {
  width: 60%;
  height: 100%;
  background-color: blue;
}

.main-wrapper .row .center .content .gallery .glt2 .glt2-2 .glt2-2-2 {
  width: 40%;
  height: 100%;
  background-color: chartreuse;
}

.main-wrapper .row .center .content .gallery .glt3 {
  width: 20%;
  height: 100%;
  background-color: brown;
}

.main-wrapper .row .center .content .gallery .glt3 .glt3-1 {
  width: 100%;
  height: 35%;
  background-color: cornflowerblue;
}

.main-wrapper .row .center .content .gallery .glt3 .glt3-2 {
  width: 100%;
  height: 25%;
  background-color: darkgreen;
}

.main-wrapper .row .center .content .gallery .glt3 .glt3-3 {
  width: 100%;
  height: 40%;
  background-color: darkmagenta;
}

.main-wrapper .row .center .content .gallery .glb1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 30%;
  background-color: chartreuse;
  display: inherit;
}

.main-wrapper .row .center .content .gallery .glb1 .glb1-1 {
  width: calc(100% / 3);
  height: 100%;
  background-color: darkslategray;
}

.main-wrapper .row .center .content .gallery .glb1 .glb1-2 {
  width: calc(100% / 3);
  height: 100%;
  background-color: lightcoral;
}

.main-wrapper .row .center .content .gallery .glb1 .glb1-3 {
  width: calc(100% / 3);
  height: 100%;
  background-color: maroon;
}

.main-wrapper .row .center .bottum-name {
  margin: 1rem 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .row .center .bottum-name .left-name {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1vh;
}

.main-wrapper .row .center .bottum-name .right-name {
  text-align: rightF;
  text-transform: uppercase;
  letter-spacing: 1vh;
  margin-right: -1vh;
}
/*# sourceMappingURL=style.css.map */