@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
body {
  box-sizing: border-box;
}
.active {
  color: #d9d9d9 !important;
  &::marker {
    color: #d9d9d9 !important;
  }
}

.fs-25 {
  font-size: 25px !important;
}

.temp-ul {
  li {
    display: list-item;
    margin-left: 29px;
    &::marker {
      color: #e0cf3b;
      font-size: 0.8em;
    }
    &:hover {
      &::marker {
        color: #d9d9d9 !important;
      }
    }
  }
}

#character_justify {
  position: relative;
  width: 100%;
  font-size: 12pt;
  border: 1px solid #fff;
}

#character_justify2 {
  position: relative;
  width: 40%;
  // font-size: 12pt;
  border: 1px solid #fff;
}

#character_justify3 {
  position: relative;
  width: 40%;
  // font-size: 12pt;
  border: 1px solid #fff;
}

.name-top {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #000;
  margin-top: 10px;
  font-size: 11px;
  text-align: justify;
  text-transform: uppercase;
  text-justify: inter-word;
}

// ----------- Mobile -------------
#navbar-toggler-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
}
.navbar-toggler-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../Image/icon/menu.svg) !important;
}
#navbar-toggler-times {
  position: absolute;
  right: 0;
  bottom: 0;
  img {
    width: 25px;
  }
}
.navbar-expand-lg {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 20px !important;
  .navbar-brand {
    position: absolute;
    left: 0;
    bottom: 0;
    img {
      width: 70px;
    }
  }
  .navbar-toggler {
    padding: 0 !important;
    border-color: transparent;
    color: #000;
    &:focus {
      outline: none;
    }
  }
}

.mob-header {
  display: none;
}
#header {
  .nav-bar {
    .nav-link {
      text-align: initial;
    }
  }
  .nav-link {
    padding: 10px 0 0 0 !important;
  }
  .sub-gallery,
  .sub-awards {
    ul {
      display: block;
      li {
        display: list-item;
        &::marker {
          color: #e0cf3b;
          font-size: 0.8em;
        }
        &:hover {
          &::marker {
            color: #d9d9d9 !important;
          }
        }
        a {
          text-align: left;
          line-height: 24px;
          font-size: 9px;
          padding: 0;
          float: left;
          font-family: "Open Sans", sans-serif;
          font-style: italic;
          color: #e0cf3b;
          text-transform: uppercase;
          &:hover {
            color: #d9d9d9 !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .about-mob {
    display: block !important;
  }
  .about-pc {
    display: none !important;
  }
  .about {
    .align-items-cente {
      padding: 20px 0;
    }
  }
  .color {
    padding: 0 !important;
    .contact {
      display: block !important;
      .map {
        width: 100% !important;
        height: 250px;
      }
      .contact-details {
        width: 100% !important;
        padding-top: 20px;
        padding-bottom: 20px;
        .social-icon {
          justify-content: start;
          margin-left: -20px;
        }
      }
    }
  }

  #character_justify {
    display: none !important;
  }
  .navbar-demo button.menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: unset;
    border: 0;
    font-size: 26px;
    display: block;
    padding: 23px;
    color: #fff;
    outline: none;
  }
  .navbar-demo {
    height: 100%;
    z-index: 999;
    position: absolute !important;
    top: 0 !important;
    width: 250px !important;
  }
  .navbar-demo .nav-bar {
    left: -950px;
    background-color: #fffffff2;
    transition: 1s;
    height: 100%;
  }

  .navbar-demo.open-nav .nav-bar {
    left: 0;
    width: 100%;
    transition: left 0.5s;
    height: 100%;
  }

  .navbar-demo .nav-bar a {
    font-size: 14px;
    padding-top: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    line-height: 50px;
    text-transform: uppercase;
    color: black;
  }
  .navbar-demo.open-nav button.menu-btn i:before {
    content: "\f00d ";
  }
}

.hero-image .about-me {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}

.hero-image .about-me label {
  font-size: 26px;
  color: #fff;
  display: block;
}
.hero-image:after {
  background-color: black;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.3;
}

.hero-image .about-me a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid white;
  margin: 20px;
}

.navbar-demo {
  display: table;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.navbar-demo .nav-bar ul li {
  display: block;
}

.navbar-demo .nav-bar ul {
  padding: 0;
  display: table;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-demo .nav-bar ul li a {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 18px;
  text-transform: uppercase;
}

.nav-bar {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-demo button.menu-btn {
  display: none;
}

// ---------------------- media public --------------

@media only screen and (width: 1024px) {
  .main-wrapper .row .center .content .gray-bg .color .mySwiper .height {
    height: 410px !important;
  }
  .main-wrapper .row .center .content .gray-bg {
    height: 410px !important;
  }
  .main-wrapper
    .row
    .center
    .content
    .gray-bg
    .color
    .about
    .team
    .row
    .single-image
    img {
    width: 70px !important;
    height: 70px !important;
  }
  .main-wrapper
    .row
    .center
    .content
    .gray-bg
    .color
    .about
    .team
    .row
    .single-image
    p {
    font-size: 9px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .main-wrapper {
    min-height: calc(100vh - 180px) !important;
    .content {
      .menu {
        height: 410px !important;
      }
    }
    .gallery {
      height: 410px !important;
    }
  }
  .main-wrapper
    .row
    .center
    .content
    .gray-bg
    .color
    .about
    .team
    .row
    .single-image
    img {
    width: 70px !important;
    height: 70px !important;
  }
  .main-wrapper
    .row
    .center
    .content
    .gray-bg
    .color
    .about
    .team
    .row
    .single-image
    p {
    font-size: 9px !important;
  }
}

// @media only screen and (max-width: 1024px) {
//   .about-mob h6{
//     font-size: 15px !important;
//   }
//   .about-mob p{
//     font-size: 15px !important;
//   }
//   .main-wrapper .row .center .bottum-name{
//     margin-bottom: 20px !important;
//   }
//   .contact-wrapper{
//     display: block !important;
//   }
//   .contact-details{
//     padding-bottom: 60px !important;
//   }
//   .main-wrapper {
//     min-height: calc(100vh - 180px) !important;
//     .content {
//       .menu {
//         height: 420px !important;
//       }
//     }
//     .gallery {
//       height: 420px !important;
//     }
//     .bottum-name {
//       p {
//         font-size: 12px !important;
//         margin-right: 0px !important;
//       }
//     }
//   }
// }

@media only screen and (max-width: 1000px) {
  .contact-gray {
    height: 100% !important;
  }
  .gray-bg {
    height: 450px !important;
    padding: 0 !important;
    .mySwiper {
      height: 450px !important;
      .swiper-slide {
        height: 100% !important;
        img {
          height: 100% !important;
        }
      }
    }
  }
  .mob-header {
    display: block;
    margin-top: 90px;
  }
  .side-menu {
    display: none;
  }
  .gallery-content-full {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .name-top {
    font-size: 17px !important;
  }
  .main-wrapper {
    min-height: calc(100vh - 180px) !important;
    .name {
      font-size: 17px !important;
      margin-right: 0px !important;
      margin-top: -30px !important;
    }
    .gallery {
      height: 520px !important;
    }
    .bottum-name {
      p {
        font-size: 14px !important;
        margin-right: 0px !important;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .main-wrapper {
    min-height: calc(100vh - 180px) !important;
    .content {
      .menu {
        height: 500px !important;
      }
    }
    .gallery {
      height: 500px !important;
    }
    .bottum-name {
      p {
        font-size: 12px !important;
        margin-right: 0px !important;
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .about-mob h6 {
    font-size: 15px !important;
  }
  .about-mob p {
    font-size: 15px !important;
  }
  .main-wrapper .row .center .bottum-name {
    margin-bottom: 20px !important;
  }
  .contact-wrapper {
    display: block !important;
  }
  .contact-details {
    padding-bottom: 60px !important;
  }
  .main-wrapper {
    min-height: calc(100vh - 180px) !important;
    .content {
      .menu {
        height: 400px !important;
      }
    }
    .gallery {
      height: 400px !important;
    }
    .bottum-name {
      p {
        font-size: 12px !important;
        margin-right: 0px !important;
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .contact-gray {
    height: 100% !important;
  }
  .gray-bg {
    height: 450px !important;
    padding: 0 !important;
    .mySwiper {
      height: 450px !important;
      .swiper-slide {
        height: 100% !important;
        img {
          height: 100% !important;
        }
      }
    }
  }
  .mob-header {
    display: block;
    margin-top: 90px;
  }
  .side-menu {
    display: none;
  }
  .gallery-content-full {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .name-top {
    font-size: 17px !important;
  }
  .main-wrapper {
    min-height: calc(100vh - 180px) !important;
    .name {
      font-size: 17px !important;
      margin-right: 0px !important;
      margin-top: -30px !important;
    }
    .gallery {
      height: 400px !important;
    }
    .bottum-name {
      p {
        font-size: 14px !important;
        margin-right: 0px !important;
      }
    }
  }
}
@media only screen and (max-width: 541px) {
  .about-mob h6 {
    font-size: 10px !important;
  }
  .about-mob p {
    font-size: 10px !important;
  }
  .gray-bg {
    height: 340px !important;
    padding: 0 !important;
    .mySwiper {
      height: 340px !important;
      .swiper-slide {
        height: 100% !important;
        img {
          height: 100% !important;
        }
      }
    }
  }
  .name-top {
    font-size: 13px !important;
  }
  .main-wrapper {
    .name {
      font-size: 13px !important;
      margin-right: 0px !important;
      margin-top: 20px;
    }
    .gallery {
      height: 340px !important;
    }
    .bottum-name {
      p {
        font-size: 13px !important;
        font-weight: 600 !important;
        margin-right: 0px !important;
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  .gray-bg {
    height: 260px !important;
    padding: 0 !important;
    .mySwiper {
      height: 260px !important;
      .swiper-slide {
        height: 100% !important;
        img {
          height: 100% !important;
        }
      }
    }
  }
  .name-top {
    font-size: 10px !important;
  }
  .main-wrapper {
    .name {
      font-size: 10px !important;
    }
    .gallery {
      height: 260px !important;
    }
    .bottum-name {
      p {
        font-size: 10px !important;
        margin-right: 0px !important;
        font-weight: 600 !important;
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .contact-gray {
    height: 100% !important;
  }

  .gray-bg {
    height: 250px !important;
    padding: 0 !important;
    .mySwiper {
      height: 250px !important;
      .swiper-slide {
        height: 100% !important;
        img {
          height: 100% !important;
        }
      }
    }
  }
  .team-mob {
    .single-image {
      img {
        width: 80px !important;
        height: 80px !important;
      }
      p {
        font-size: 8px !important;
      }
    }
  }
  .name-top {
    font-size: 10px !important;
  }
  .main-wrapper {
    .name {
      font-size: 10px !important;
    }
    .gallery {
      height: 250px !important;
    }
    .bottum-name {
      p {
        font-size: 10px !important;
        margin-right: 0px !important;
      }
    }
  }
}
@media only screen and (max-width: 321px) {
  .gray-bg {
    height: 210px !important;
    padding: 0 !important;
    .mySwiper {
      height: 210px !important;
      .swiper-slide {
        height: 100% !important;
        img {
          height: 100% !important;
        }
      }
    }
  }
  .name-top {
    font-size: 8px !important;
  }
  .main-wrapper {
    .name {
      font-size: 8px !important;
    }
    .gallery {
      height: 210px !important;
    }
    .bottum-name {
      p {
        font-size: 8px !important;
        margin-right: 0px !important;
      }
    }
  }
}

// --------------------- web ----------------

.main-wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .row {
    justify-content: center;
    .center {
      width: 100% !important;
      justify-content: center;

      .name {
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        color: #949494;
        // text-align-last: justify;
        text-align: justify;
        text-transform: uppercase;
        text-justify: inter-word;
        // letter-spacing: 16px;
        margin-right: -1vh;
        margin-bottom: 2.5rem;
        // margin-bottom: 50px;
      }
      .content {
        .menu {
          padding-top: 3px;
          padding-bottom: 3px;
          width: 100%;
          height: 500px;
          .top {
            padding-top: 20px;
            height: 35%;
            width: 100%;
            background-color: #888888;
            .menu-nav {
              .nav-link {
                padding-left: 10px !important;

                // margin-left: -10px;
              }
              a {
                font-size: 12px;
                padding-top: 0;
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                line-height: 15px;
                text-transform: uppercase;
                color: white;
                &:hover {
                  color: #d9d9d9 !important;
                }
              }
            }
          }
          .middle {
            background-color: #888888;
            width: 100%;
            height: 35%;
            overflow: auto;

            .second-menu-nav {
              a {
                font-size: 10px;
                padding-top: 0;
                padding-bottom: 0;
                font-family: "Open Sans", sans-serif;
                font-style: italic;
                font-weight: 600;
                color: #e0cf3b;
                text-transform: uppercase;
                &:hover {
                  color: #d9d9d9 !important;
                }
              }
              p {
                padding: 0 10px 10px 10px;
                font-family: "Josefin Sans", sans-serif;
                color: white;
                font-style: italic;
                font-size: 10px;
                text-transform: capitalize;
              }
              .nav-link {
                padding-left: 0px;
                padding-right: 5px;
                margin-left: -6px;
              }
            }
          }
          .full-height {
            height: 65% !important;
          }
          .bottum {
            height: 30%;
            width: 100%;
            padding-top: 4px;
            background-color: #888888;

            .color {
              background-color: black;
              display: flex;
              height: 100%;
              margin-top: 1px;
              a {
                width: 100%;
                display: flex;
                height: 100%;
                img {
                  width: 60%;
                  height: auto;
                  margin: auto;
                }
              }
            }
          }
        }
        .gallery {
          width: 100%;
          height: 500px;
          display: flex;
          .glt1 {
            padding: 3px;
            width: 20%;
            height: 70%;
            .glt1-1 {
              width: 100%;
              height: 50%;
              padding-bottom: 3px;
            }
            .glt1-2 {
              width: 100%;
              height: 50%;
              padding-top: 3px;
            }
          }
          .glt2 {
            padding: 3px;
            width: 60%;
            height: 70%;
            .glt2-1 {
              width: 100%;
              height: 40%;
              padding-bottom: 3px;
              display: flex;
              .glt2-1-1 {
                width: 50%;
                height: 100%;
                padding-right: 3px;
              }
              .glt2-1-2 {
                width: 50%;
                height: 100%;
                padding-left: 3px;
              }
            }
            .glt2-2 {
              width: 100%;
              height: 60%;
              padding-top: 3px;
              display: flex;
              .glt2-2-1 {
                width: 60%;
                height: 100%;
                padding-right: 3px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .glt2-2-2 {
                width: 40%;
                height: 100%;
                padding-left: 3px;
              }
            }
          }
          .glt3 {
            padding: 3px;
            width: 20%;
            height: 100%;
            .glt3-1 {
              width: 100%;
              height: 35%;
              padding-bottom: 3px;
              .color {
                background-color: black;
                width: 100%;
                height: 100%;
              }
            }
            .glt3-2 {
              width: 100%;
              height: 25%;
              padding-top: 3px;
              padding-bottom: 3px;
              .color {
                background-color: black;
                width: 100%;
                height: 100%;
              }
            }
            .glt3-3 {
              width: 100%;
              height: 40%;
              padding-top: 3px;
              .color {
                background-color: black;
                width: 100%;
                height: 100%;
              }
            }
          }
          .glb1 {
            padding: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80%;
            height: 30%;
            display: inherit;
            .glb1-1 {
              width: calc(100% / 3);
              height: 100%;
              padding-right: 3px;
              .color {
                background-color: black;
                width: 100%;
                height: 100%;
              }
            }
            .glb1-2 {
              width: calc(100% / 3);
              height: 100%;
              padding-left: 3px;
              padding-right: 3px;
              .color {
                background-color: black;
                width: 100%;
                height: 100%;
              }
            }
            .glb1-3 {
              width: calc(100% / 3);
              height: 100%;
              padding-left: 3px;
              .color {
                background-color: black;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .gray-bg {
          width: 100%;
          // height: 100%;
          height: 500px;
          padding: 3px 0 3px 0;
          .color {
            background-color: #c7c7c7;
            width: 100%;
            height: 100%;
            .mySwiper {
              height: 100%;
              .swiper-slide {
                justify-content: center;
                display: flex;

                // margin: auto;
                img {
                  // width: 100%;
                  height: 100%;
                  object-fit: cover;
                  overflow: hidden;
                }
              }
              // .height{
              //   height: 494px;
              // }
              .swiper-button-next,
              .swiper-button-prev {
                color: #ffffff78;
              }
            }
            .about {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              text-align: center;
              .center {
                justify-content: center;
              }
              h6 {
                font-family: "Open Sans", sans-serif;
                font-weight: 800;
                font-size: 10px;
                margin: auto;
                margin-bottom: 10px;
              }
              p {
                font-family: "Open Sans", sans-serif;
                font-style: italic;
                font-weight: 500;
                font-size: 10px;
                text-align: justify;
              }
              .team {
                height: 286px;
                overflow: auto;
                .ml4 {
                  margin-left: -4px !important;
                }
                .row {
                  justify-content: space-between;
                  .single-image {
                    width: 25%;
                    margin-bottom: 25px;
                    cursor: pointer;
                    img {
                      width: 90px;
                      height: 90px;
                      overflow: hidden;
                    }
                    p {
                      font-family: "Open Sans", sans-serif;
                      font-weight: 500;
                      text-transform: capitalize;
                      font-size: 10px;
                      text-align: center;
                      line-height: 0;
                      margin-top: 10px;

                      font-style: italic;
                      margin-bottom: 0;
                    }
                    .tal {
                      text-align: left;
                    }
                    .tar {
                      text-align: right;
                    }
                    .tac {
                      text-align: center;
                    }
                  }
                }
              }
            }
            .contact {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              text-align: center;
              .center {
                justify-content: center;
              }
              h6 {
                font-family: "Open Sans", sans-serif;
                font-weight: 800;
                font-size: 10px;
                margin: auto;
                margin-bottom: 10px;
              }
              p {
                font-family: "Open Sans", sans-serif;
                font-style: italic;
                font-weight: 500;
                font-size: 10px;
                text-align: justify;
              }
              .team {
                img {
                  margin-top: 5px;
                  width: 100%;
                  cursor: pointer;
                }
              }
            }
          }
          .contact-details {
            width: 50%;
            padding-left: 25px;
            padding-right: 10px;
            h6 {
              font-family: "Open Sans", sans-serif;
              font-size: 16px !important;
              text-align: left;
              margin-bottom: 30px !important;
            }
            p {
              font-family: "Open Sans", sans-serif;
              font-size: 13px !important;
              font-weight: 600 !important;
              color: black !important;
            }
            p {
              a {
                font-family: "Open Sans", sans-serif;
                font-size: 13px !important;
                font-weight: 600 !important;
                color: black !important;
                &:hover {
                  color: blue !important;
                }
              }
            }
            .upper {
              text-transform: capitalize;
            }
            .social-icon {
              img {
                width: 25px;
                margin: 10px;
                filter: grayscale(100%);
                transition: 0.1s ease-in-out;
                &:hover {
                  filter: grayscale(0);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .bottum-name {
        margin: 1rem 0 0 0;
        justify-content: space-between;
        .left-name {
          font-family: "Open Sans", sans-serif;
          font-weight: 800;
          color: #949494;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: 1vh;
        }
        .right-name {
          font-family: "Open Sans", sans-serif;
          font-weight: 800;
          color: #949494;
          text-align: right;
          text-transform: uppercase;
          letter-spacing: 1vh;
          margin-right: -1vh;
        }
      }
    }
  }
}
.image-holder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0);
  transition: 0.2s ease-in-out;
  &:hover {
    filter: grayscale(50%);
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.d-none-custom {
  transition: 0.9s ease-in-out;
  z-index: -1;
}

.map {
  width: 50%;
  height: 100%;
  background-color: black;
}

.about-mob {
  h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    text-align: justify;
  }
  .team {
    .image-details {
      width: 50%;
      padding: 16px;
      img {
        width: 100%;
      }
      .details {
        width: 100%;
        margin-top: 10px;
        p {
          text-align: center;
          font-size: 12px;
          text-transform: capitalize;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.services {
  position: fixed;
  bottom: 20px;
  right: 30px;
  .service-pop {
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    box-shadow: -2px 3px 18px -3px rgba(0, 0, 0, 0.77);
  }
  .services-btn-section {
    float: right;
    .services-btn {
      margin-top: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: -2px 3px 18px -3px rgba(0, 0, 0, 0.77);
      button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-color: white;
        background-color: #171717;
        &:hover {
          background-color: black;
        }
        &::before {
          content: "";
          border-radius: 1000px;
          // min-width: calc(300px + 12px);
          // min-height: calc(60px + 12px);
          border: 6px solid #000;
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.64);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all 0.3s ease-in-out 0s;
        }
        &::after {
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 100%;
          border: 6px solid #000;
          position: absolute;
          z-index: -1;
          top: 42%;
          left: 45%;
          transform: translate(-50%, -50%);
          animation: ring 1.5s infinite;
        }
        img {
          width: 100%;
        }
      }
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
    }
  }
}

.modal-services {
  display: none;
  height: 95%;

  max-width: fit-content;
  // max-width: 90%;
  display: flex;
  justify-content: center;
  .modal-content {
    height: 100%;
    max-width: 90%;
    .mySwiper{
      .swiper-wrapper{
        .swiper-slide{
          display: flex;
          justify-content: center;
        }
      }
      .swiper-button{
        color: white;
      }
    }
  }
  .close {
    display: flex;
    left: auto;
    float: right;
    justify-content: end;
    margin-right: 20px;
    margin-top: 9px;
    position: absolute;
    color: white;
    right: 0;
    z-index: 9;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}


.swiper-pagination-bullet-active{
background: #000 !important;
}
// .wrap {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .button {
//   min-width: 300px;
//   min-height: 60px;
//   font-family: 'Nunito', sans-serif;
//   font-size: 22px;
//   text-transform: uppercase;
//   letter-spacing: 1.3px;
//   font-weight: 700;
//   color: #313133;
//   background: #4FD1C5;
//   background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
//   border: none;
//   border-radius: 1000px;
//   box-shadow: 12px 12px 24px rgba(79,209,197,.64);
//   transition: all 0.3s ease-in-out 0s;
//   cursor: pointer;
//   outline: none;
//   position: relative;
//   padding: 10px;
//   }

// button::before {
// content: '';
//   border-radius: 1000px;
//   min-width: calc(300px + 12px);
//   min-height: calc(60px + 12px);
//   border: 6px solid #00FFCB;
//   box-shadow: 0 0 60px rgba(0,255,203,.64);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 0;
//   transition: all .3s ease-in-out 0s;
// }

// .button:hover, .button:focus {
//   color: #313133;
//   transform: translateY(-6px);
// }

// button:hover::before, button:focus::before {
//   opacity: 1;
// }

// button::after {
//   content: '';
//   width: 30px; height: 30px;
//   border-radius: 100%;
//   border: 6px solid #00FFCB;
//   position: absolute;
//   z-index: -1;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   animation: ring 1.5s infinite;
// }

// button:hover::after, button:focus::after {
//   animation: none;
//   display: none;
// }
